<div id="shell">
  <div id="header">
    <h1 id="logo">Movies Website</h1>
    <div id="navigation"></div>
    <div id="sub-navigation">
      <div id="search">
        <form id="filter">
            <label> Rechercher un film </label>
            <input type="text" [(ngModel)]="term" name="something"/>
            <button (click)="getMovies()">Search</button>
        </form>
      </div>
    </div>
  </div>
  <div id="main">
    <div id="content">
      <div class="box">
        <div *ngFor="let movie of moviesTab | index as i">
            <div *ngIf="(((i+1)%6)!=0); else lastMovie">
              <div class="movie">
                      <div class="movie-image"> <span class="play"><span class="name">MOTIVES</span></span> <a href="#"><img src={{movie.image}} alt="" /></a> </div>
                      <div><span class="title">Title : {{movie.title}}</span></div>
                      <div><span class="genre">Genre : {{movie.genres}}</span></div>
                      <div><span class="duration">Duration : {{movie.duration}}</span></div>
                      <div><span class="ratings">Rating : {{movie.rating}}</span></div>
              </div>
            </div> 
            <ng-template #lastMovie>
              <div class="movie last">
                <div class="movie-image"> <span class="play"><span class="name">MOTIVES</span></span> <a href="#"><img src={{movie.image}} alt="" /></a> </div>
                <div><span class="title">Title : {{movie.title}}</span></div>
                <div><span class="genre">Genre : {{movie.genres}}</span></div>
                <div><span class="duration">Duration : {{movie.duration}}</span></div>
                <div><span class="ratings">Rating : {{movie.rating}}</span></div>
              </div>
            </ng-template>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div id="footer">
    <div style="clear:both;"></div>
  </div>
</div>